.choice-container {
	display: flex;
	margin: 0 auto;
	margin-bottom: 0.8rem;
	width: 75%;
	font-size: 1.8rem;
	border: 0.1rem solid #cecece; 
	/*background-color: #40E0D0;*/
}

.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 0.4rem 0 rgba(189, 245, 239, 0.5);
	transform: translateX(0.1rem);
	transition: transform 150ms;
}

.choice-prefix{
	padding: 1.5rem 2.5rem;
	background-color: #40E0D0;
	color: #fff;
}

.choice-text{
	padding: 1.5rem;	
	width:  100%;
}

.question {
	padding: 0 12.5%;
}

.correct {
	background-color: #28a745;
}

.incorrect {
	background-color: #dc3545;
}

/*HUD*/

#hud {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 5rem;
	}

.hud-prefix {
	text-align: center;
	font-size: 2rem;
}

.hud-main-text {
	text-align: center;
}

#progress-bar {
	width : 15rem;
	height : 3rem;
	border : 0.3rem solid #40E0D0;
}

#progress-bar-full  {
	height: 2.4rem;
	background-color: #40E0D0;
	width : 0%;
}

.loader {
	border :  0.8rem solid white;
	border-radius: 50%;
	border-top : 0.8rem solid #40E0D0;
	width : 9rem;
	height :  9rem;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}